body {
    width: 40%;
    margin: auto;
}
header{
    display: inline-block;
}
p {
    display: inline-block;
}

.cell {
    padding-top: 3rem;
    text-align: center;
    margin: 0.5rem;
    display: inline-block;
    color: black;
    background-color: beige;
    width: 140px;
    height: 70px;
}
.hidden {
    background-color: black
}

